@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-zinc-50 text-zinc-700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prose {
  @apply sm:text-lg md:text-xl !leading-7 sm:!leading-9;
}

code {
  @apply !text-sm md:!text-base !leading-loose md:!leading-loose rounded-md !font-normal;
}

pre > code {
  @apply grid;
  counter-reset: line;
}

pre {
  @apply !px-0 rounded-lg;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

[data-line] {
  @apply px-6 border-l-4 border-l-transparent;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-rehype-pretty-code-fragment] [data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none;
}

[data-rehype-pretty-code-fragment] > [data-rehype-pretty-code-title] {
  @apply bg-blue-400 rounded-t-md px-6 py-2 text-[#2e3440ff] font-medium;
}
